* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greybg {
    background-color: rgb(194, 184, 184);
    color: white;
    width: 200px;
    height: 300px;
    margin-top: 20px;
}

.greybg h3 {
    display: flex;
    justify-content: center;
}

.topic h3{
    margin-top: 120px;
    font-family: 'Courier New', Courier, monospace;
}

.essay {
    width: 60%;
    margin-top: 20px;
    margin-left: 30px;
}

.essay h2 {
    width: %;
}

.essay p {
    margin-top: 10px;
    width: 60%;
}

.click {
    margin-top: 25px;
}

.click button {
    border: solid black 1.5px;
    padding: 10px 20px;  
    font-size: 16px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.click button:hover{
    background-color: rgb(168, 159, 159);
}